/*
 *= require semantic
 *= require_self
*/
@import url('https://fonts.googleapis.com/css?family=Sacramento&subset=latin-ext');

h1#main-header {
  font-family: "Sacramento", cursive;
  font-size: 3.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  a {
    color: rgba(0, 0, 0, 0.87);
  }
}

.ui.header:last-child {
  margin-bottom: 14px;
}

.margined {
  margin-bottom: 20px;
}
