---
title: Strona główna
---

= image_tag "jar.jpg", class: "ui centered medium image"
.ui.divider

br
br
.ui.center.aligned.container
  h2.ui.icon.header
    i.yellow.theme.icon
    .content
      | Miody
      .sub.header O miodach
p
  Lorem ipsum dolor sit amet sapien facilisis eget, neque. Nulla facilisi. Morbi risus nunc, at libero. Aliquam adipiscing elit. Pellentesque habitant morbi tristique sem. Nulla facilisi. Nullam at erat. Duis neque odio id aliquet nulla, auctor est, dapibus risus. Etiam urna quam, lobortis velit. Praesent a nunc. Aliquam hendrerit dolor sit amet, vulputate nunc. Sed mauris sit amet tellus. Ut sodales sed, ultrices posuere cubilia Curae, Donec nec justo ac elit sed quam et netus et mi. Aenean nulla non magna. Integer vestibulum vel, eros. Aliquam erat sit amet metus eros diam id tortor. Ut bibendum id, nunc. Maecenas at nibh. Maecenas imperdiet sapien. Praesent gravida varius lectus. Nam suscipit, erat volutpat. Nunc sed est pretium felis vitae magna diam, suscipit erat. Duis quis velit lectus id lacus. Pellentesque scelerisque vel

.ui.three.column.centered.grid.margined
  .center.aligned.column
    = image_tag "round1.jpg", class: "ui centered circular small image"
    h2.ui.header
      | Naturalne
      .sub.header Lorem ipsum
  .center.aligned.column
    = image_tag "round3.jpg", class: "ui centered circular small image"
    h2.ui.header
      | Zdrowe
      .sub.header Lorem ipsum
  .center.aligned.column
    = image_tag "round2.jpg", class: "ui centered circular small image"
    h2.ui.header
      | Ekologiczne
      .sub.header Lorem ipsum

.ui.center.aligned.container.margined
  h2.ui.icon.header
    .content
      | Wosk pszczeli
      .sub.header O wosku

p
  Fusce blandit vel, augue. Sed leo sit amet sapien sapien, sagittis lorem. Aliquam adipiscing at, gravida non, placerat aliquet. Vestibulum a leo tristique senectus et orci molestie enim. Phasellus ac enim vulputate mi, eu sodales libero. Donec suscipit id, libero. Praesent vitae tellus. Integer ut sapien. Sed ligula nunc, nonummy eget, ultricies vehicula, dui aliquam tellus a sapien. Donec aliquet id, orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce eu cursus aliquam. In nonummy. Nam feugiat, pulvinar sed, urna. Donec non mi. Etiam fringilla vel, magna. Integer sit amet lorem. Suspendisse potenti. Quisque ut lacus euismod id, placerat semper, nisl a dolor. Nulla tincidunt in, suscipit mauris. Etiam wisi arcu, imperdiet purus sit amet nunc. Suspendisse adipiscing elit. Mauris nec malesuada eros, aliquam.

p
  Nam varius nec, elementum velit. Cras dolor nulla, at lorem id mi. Curabitur blandit eros, rhoncus nunc. Ut ac nunc vel sodales neque in sem. Mauris imperdiet, nisl sit amet sagittis mi. Cras nonummy rutrum. Donec eget est. Curabitur feugiat dolor. Sed bibendum. Nulla augue leo, ac turpis ut quam. Vestibulum non dui sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean congue risus. Suspendisse orci consequat non, porttitor vitae, ultricies tincidunt, risus elit a luctus eget, purus. Pellentesque malesuada fames ac accumsan lectus varius quis, tincidunt in, tristique senectus et mauris sit amet, mattis a, urna. Cras magna dolor, luctus a, blandit.

.ui.divider
.ui.grid
  .five.wide.column
    h2.ui.header
      i.phone.icon
      .content
        | O firmie
        .sub.header Dane kontaktowe
  .seven.wide.column
  .four.wide.right.aligned.column
    .ui.list
      .item
        .users.icon
        .content Pasieka Janusz Okoński

      .item
        i.marker.icon
        .content Olsztyn


      .item
        i.mail.icon
        .content
          a href="mailto:janusz@okonski.org" janusz@okonski.org


      .item
        i.linkify.icon
        .content
          a href="http://miody.okonski.org" miody.okonski.org
